.blog-header {
    padding: 3rem 0;
    margin-bottom: 3rem;
    background-color: $color-blue;
    color: $color-white-font;

    &__title {
        font-weight: 600;
        font-size: 2.2rem;
        letter-spacing: 1px;
    }    

    &__text {
        line-height: 1.8;
        margin-bottom: 4rem;
        text-align: justify;
        hyphens: auto;
        
        & p:not(:last-child) {
            margin-bottom: 2rem;
        }
    }   
}