#contact {
  section {
    margin-bottom: 50px;
  }
}

.opening-hours {
  &__main {
    padding: 3rem;

    margin-bottom: 20px;
  }

  &__header {
    margin-bottom: 1rem;
    p {
      margin-bottom: 0;
    }
    a {
      color: $color-white-font !important;
    }
  }

  &__table {
    table {
      width: 100%;
    }

    th,
    td {
      color: $color-white-font;
      padding: 0.5rem;
      text-align: center;
    }

    th {
      border-bottom: $color-white-font 2px solid;
    }

    th:first-child {
      width: 50px;
    }
  }
}

.appointment {
  &__header {
    h1 {
      margin-bottom: 0;
    }
  }
  &__title {
    h1 {
      margin-bottom: 0;
    }
  }
}

.contact-title {
  h1 {
    margin-bottom: 0.5rem;
  }
}

#contact-form {
  label {
    font-size: 1.2rem;
  }

  input[type='text'],
  input[type='text']:focus,
  input[type='text']:active,
  input[type='email'],
  input[type='email']:focus {
    background-color: unset;
    border: none;
    border-radius: 0;
    border: 2px $color-blue solid;
    box-shadow: none;
    font-size: 1.5rem;
  }

  input[type='submit'] {
    background-color: $color-blue;
    border-radius: 0;
    border: unset;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: none;
    color: $color-white-font;
    padding: 0.25rem 2rem;
    display: block;
  }

  textarea {
    background-color: unset;
    border-radius: 0;
    border: 2px $color-blue solid;
    font-size: 1.5rem;
  }
}

#profile {
  .image-text {
    background-position-x: 60%;
    @include media-breakpoint-only(xs) {
      & .container {
        position: absolute;
        bottom: 0;
        left: -20;
      }
    }
  }
}
