/* COLORS */

$color-white-font: white;
$color-black-font: black;

$color-blue: #6e8b9b;
$color-green: #a2bfa9;
$color-pink: #dec3c3;
$color-grey: #ccc8c1;
$color-light-grey: #eae9e1;

/* FONTS */

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Campton';
  src: url('../fonts/campton-medium.otf');
}

/* STYLES */

.bg-color-green {
  background-color: $color-green;
  color: $color-white-font;
}

.bg-color-blue {
  background-color: $color-blue;
  color: $color-white-font;
}
