footer {
  position: relative;
  width: 100%;
  padding-top: 40px;
  background-color: $color-blue;
  color: $color-white-font;

  h1 {
    font-weight: 400;
  }
  a {
    font-size: 1rem;
    color: $color-white-font;
    &:hover {
      color: $color-white-font;
    }
  }

  p {
    font-size: 1rem;
  }

  .copyright {
    height: 30px;
    width: 100%;

    @include media-breakpoint-down(xs) {
      margin-top: 20px;
    }
  }

  .logo {
    img {
      width: 250px;
      min-width: 30%;

      @include media-breakpoint-up(sm) {
        max-width: 50%;
      }

      @include media-breakpoint-up(md) {
        max-width: 100%;
      }
    }
  }
}
