.hexagon-container {
  margin-top: 5rem;
  margin-bottom: 12rem;

  @include media-breakpoint-down(xs) {
    margin-bottom: 8rem;
  }
}

.hexagon {
  margin-right: -10%;
  margin-bottom: -22%;
  position: relative;
  left: -5%;
  overflow: hidden;

  &.hexagon-contact {
    @include media-breakpoint-down(xs) {
      margin-right: 0;
      margin-bottom: 0;
      left: 0;
    }
  }

  &__transparent {
    @include media-breakpoint-down(md) {
      background-color: rgba(255, 255, 255, 0.6);
    }
    -webkit-clip-path: polygon(5% 25%, 50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%);
    clip-path: polygon(5% 25%, 50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%);
    transition: opacity 0.5s;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    padding: 40% 0 25% 0;
  }

  &__text-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    padding: 40% 0 25% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    &--blue {
      color: $color-blue;
      & .hexagon__btn {
        background-color: $color-blue;
      }
    }
    &--green {
      color: $color-green;
      & .hexagon__btn {
        background-color: $color-green;
      }
    }
    &--grey {
      color: $color-grey;
      & .hexagon__btn {
        background-color: $color-grey;
      }
    }
    &--pink {
      color: $color-pink;
      & .hexagon__btn {
        background-color: $color-pink;
      }
    }
    &--light-grey {
      color: $color-light-grey;
      & .hexagon__btn {
        background-color: $color-light-grey;
      }
    }
  }

  &__text {
    font-size: 2.5rem;
    font-weight: 600;
    user-select: none;
    max-width: 80%;

    @include media-breakpoint-down(lg) {
      font-size: 2.2rem;
    }
    @include media-breakpoint-down(md) {
      font-size: 1.8rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.4rem;
    }
  }

  &__btn {
    &:link,
    &:visited {
      text-decoration: none;
      -webkit-text-fill-color: $color-white-font;
      color: $color-white-font;
      font-size: 1.4rem;
      letter-spacing: 1px;
      padding: 1rem 2rem;
      cursor: pointer;

      @include media-breakpoint-down(lg) {
        font-size: 1.2rem;
      }
      @include media-breakpoint-down(md) {
        font-size: 1rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 0.8rem;
        padding: 0.8rem 1.2rem;
      }
    }
    &:hover {
      opacity: 0.9;
    }
  }

  &--animated {
    &:hover .hexagon__transparent {
      @include media-breakpoint-up(lg) {
        background-color: rgba(255, 255, 255, 0.6);
      }
    }

    &:hover .hexagon__text-box {
      @include media-breakpoint-up(lg) {
        opacity: 1;
      }
    }
    &:hover .hexagon__text,
    &:hover .hexagon__btn {
      transform: translateY(0);
    }

    .hexagon__text-box {
      @include media-breakpoint-up(lg) {
        opacity: 0;
      }
    }

    .hexagon__text,
    .hexagon__btn {
      @include media-breakpoint-up(lg) {
        transform: translateY(4rem);
        transition: transform 0.5s;
      }
    }
  }
}

// FOR CONTACT HEXAGONS
.contact {
  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    &--blue {
      -webkit-text-fill-color: $color-blue;
      color: $color-blue;
    }
    &--green {
      -webkit-text-fill-color: $color-green;
      color: $color-green;
    }
    &--grey {
      -webkit-text-fill-color: $color-grey;
      color: $color-grey;
    }
    &--pink {
      -webkit-text-fill-color: $color-pink;
      color: $color-pink;
    }
    &--light-grey {
      -webkit-text-fill-color: $color-light-grey;
      color: $color-light-grey;
    }

    a {
      color: inherit !important;
      //text-decoration: none;
      &[href^='mailto']:hover {
        text-decoration: underline;
      }
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 2rem;
    }
  }

  &__text {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 5rem;

    &--sub {
      font-size: 1.4rem;
      margin-bottom: 0.3rem;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 7rem;
    }

    @include media-breakpoint-down(xs) {
      margin-top: 2rem;
    }
  }

  &__subtitle {
    font-size: 1.25rem;
    font-weight: normal;
    margin-bottom: 2rem;
    text-align: center;
    width: 60%;

    @include media-breakpoint-up(md) {
      width: 100%;
    }
    @include media-breakpoint-up(lg) {
      width: 75%;
    }
    @include media-breakpoint-up(xl) {
      width: 65%;
    }
  }

  &__appointments {
    display: block;
    padding-bottom: 5rem;
    width: 100%;
    @include media-breakpoint-up(md) {
      padding-bottom: 0;

      position: absolute;
      top: 70%;
      transform: translateY(-50%);
      margin-left: 10px;
    }

    @include media-breakpoint-up(lg) {
      top: 68%;
    }

    @include media-breakpoint-up(xl) {
      top: 65%;
    }

    h2 {
      @include media-breakpoint-up(md) {
        font-size: 1.1rem;
      }
    }

    .button {
      padding: 1.5rem 0;
      p {
        font-size: 1.5rem;
      }
      @include media-breakpoint-up(md) {
        p {
          font-size: 1.1rem;
        }
      }
      @include media-breakpoint-up(lg) {
        font-size: 1.2rem;
        padding: 1rem;

        h2 {
          font-size: 1.2rem;
        }

        p {
          font-size: 1.1rem;
        }
      }
      p {
        margin: 0;
      }
    }
  }
}

// FOR MOBILE
@include media-breakpoint-down(xs) {
  & .col-8:nth-child(even) .hexagon:not(.hexagon-contact) {
    transform: translateX(22%);
  }

  & .col-8:nth-child(odd) .hexagon:not(.hexagon-contact) {
    transform: translateX(-22%);
  }
}
