#home {
  .hexagon-container {
    margin-top: 0;
  }

  .buttons {
    margin-bottom: 3rem;

    .button {
      height: 110px;
      position: relative;
      padding: 0;
    }

    .button-text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
    }
  }

  .about-us {
    margin-bottom: 100px;
    text-align: justify;
    .button {
      margin-top: 10px;
      width: 250px;
      //min-width: 250px;
      max-width: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

#front-image {
  margin-bottom: 4rem;
  overflow-y: hidden;
  .front-image__hexagon {
    position: relative;
    height: 500px;
    width: 500px;
    //overflow-x: show;

    &--inner {
      position: absolute;
      top: -10%;
      height: 120%;
      width: 120%;
    }

    img {
      opacity: 0.7;
      height: 150%;
      width: 150%;
    }
  }

  .hexagon-text {
    position: absolute;
    color: $color-white-font;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
  }
}

.text-special {
  padding: 3rem 0;
  margin-bottom: 3rem;
  background-color: $color-blue;
  color: $color-white-font;

  @include media-breakpoint-down(md) {
    margin-bottom: 6rem;
  }

  & .skill {
    padding-left: 0;
    padding-right: 0;

    @include media-breakpoint-up(md) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @include media-breakpoint-up(lg) {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    &:not(:last-child) {
      border-right: white 2px solid;

      @include media-breakpoint-down(sm) {
        padding-bottom: 3rem;
      }
    }

    &__text > * {
      text-align: justify;
    }

    @include media-breakpoint-down(sm) {
      margin: 0 2.5rem 3rem;

      &:not(:last-child) {
        border-right: none;
        border-bottom: white 2px solid;
      }
    }
  }
}
