.image-text {
  height: 500px;

  margin-bottom: 4rem;
  overflow-y: hidden;

  background-size: cover;
  background-position-x: right;

  &__hexagon {
    position: relative;
    height: 400px;
    width: 400px;
    left: -50px;

    @keyframes MoveUpDown {
      0%,
      100% {
        transform: translate(-50%, 0);
      }
      50% {
        transform: translate(-50%, -10px);
      }
    }

    &--inner {
      position: absolute;
      top: -10%;
      left: -40px;
      height: 120%;
      width: 120%;
      overflow-x: hidden;

      &::after {
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translate(-50%, 0);
        content: '';
        border-top: 1em solid rgba(255, 255, 255, 0.9);
        border-right: 2em solid rgba(0, 0, 0, 0);
        border-bottom: 0;
        border-left: 2em solid rgba(0, 0, 0, 0);

        animation: MoveUpDown 1s linear infinite;

        @include media-breakpoint-up(md) {
          bottom: 50px;
          border-top: 1.5em solid rgba(255, 255, 255, 0.9);
          border-right: 3em solid rgba(0, 0, 0, 0);
          border-bottom: 0;
          border-left: 3em solid rgba(0, 0, 0, 0);
        }

        @include media-breakpoint-up(lg) {
          bottom: 120px;
        }
      }
    }

    &--text {
      position: absolute;
      color: $color-white-font;
      top: 50%;
      left: 50%;
      width: 60%;
      transform: translate(-50%, -50%);
      text-align: justify;

      h1 {
        text-align: left;
      }
    }

    img {
      opacity: 0.9;
      height: 150%;
      width: 150%;
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
    }

    @include media-breakpoint-up(md) {
      height: 400px;
      width: 400px;
      left: 0;

      h1 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 1.15rem;
      }
    }

    @include media-breakpoint-up(lg) {
      height: 500px;
      width: 500px;

      h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
      }

      p {
        font-size: 1.25rem;
      }
    }
  }
}
