html,
body {
  max-height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: $color-blue;
}

section {
  position: relative;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Campton', sans-serif;
}
h2 {
  font-size: 1.8rem;
  font-family: 'Campton', sans-serif;
}
h3 {
  font-size: 1.6rem;
  font-family: 'Campton', sans-serif;
}
h4 {
  font-size: 1.2rem;
  font-family: 'Campton', sans-serif;
}

p,
li {
  font-size: 1.2rem;

  a {
    color: inherit !important;
  }
}

ul,
ol {
  padding: 0;
  margin-left: 1em;
}

.heading-primary {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}

a.button-link {
  text-align: center;
  color: $color-white-font !important;
}

.button {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  //text-transform: uppercase;
  white-space: normal;
  line-height: 2rem;

  margin-bottom: 1rem;
}

.button-green {
  background-color: $color-green;
  color: $color-white-font;
}

.button-blue {
  background-color: $color-blue;
  color: $color-white-font;
}

#information {
  margin-top: 4rem;
  margin-bottom: 4rem;
  @include media-breakpoint-up(md) {
    height: calc(100% - 120px - 243.6px - 236.9px);
    margin-bottom: 0;
  }
}
