/* MENU */

.navbar {
  height: 120px;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.5rem 0rem;
  z-index: 50;

  @include media-breakpoint-up(lg) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@include media-breakpoint-down(md) {
  .dropdown > .dropdown-menu {
    display: block;
  }
}

.nav-link {
  p {
    display: inline-block;
  }
}

.dropdown-menu {
  width: 200px;
  padding: 0;
  border-radius: 0;

  @include media-breakpoint-down(md) {
    width: 100%;

    border-right: none;
    border-left: none;
  }
}

.dropdown-toggle {
  @include media-breakpoint-down(md) {
    &::after {
      border: none;
    }
  }
}

.dropdown-item {
  padding: 0.5rem 0;
  padding-left: 10px;
  color: $color-blue;

  @include media-breakpoint-down(md) {
    padding-left: 20px;
  }
  img {
    height: 20px;
    display: inline;
  }
  p {
    display: inline;
  }

  &:hover {
    color: $color-blue;
  }

  &.active,
  &:active {
    background-color: $color-blue;
    color: $color-white-font;
  }
}

.navbar .navbar-brand {
  display: block;
  height: 100%;
  position: relative;
  right: 50%;
  transform: translateX(50%);
  img {
    height: 100%;
  }
  @include media-breakpoint-up(lg) {
    height: 140%;
    right: unset;
    transform: unset;
  }
}

.navbar .fas,
.navbar .fab {
  color: $color-blue;
  font-size: 2rem;
  line-height: 2rem;
}

.navbar-toggler {
  padding-left: 2rem;
  border: none;
  &:focus {
    outline: none;
    border: none;
  }
  img {
    height: 24px;
    width: 24px;
  }
}

.navbar-nav-language {
  width: 80px;
}

.nav-link {
  position: relative;
  color: $color-blue !important;
  text-align: center;
  font-size: 1.3rem;

  @include media-breakpoint-down(md) {
    text-align: left;
  }

  p {
    margin: unset;
  }
}

.nav-item-uppercase {
  text-transform: uppercase;
}

.nav-item-bold {
  font-weight: bold;
}

.nav-item-seperator {
  color: $color-blue;
  font-size: 1.2rem;
  margin: 0rem 0.5rem;
}

.nav-language-item.active {
  font-weight: bold;
}

a.nav-language-item:hover {
  text-decoration: underline;
}

.nav-bg-black {
  background-color: white;
}

.menu-logo {
  position: absolute;
  right: 30px;
  top: 20px;
  height: 40vw;
  width: 40vw;
  max-height: 120px;
  max-width: 120px;

  img {
    height: 100%;
  }

  @include media-breakpoint-up(sm) {
    height: 150px;
    max-height: 150px;
    max-width: 150px;
  }

  @include media-breakpoint-up(lg) {
    left: 30px;
    top: 40px;
  }
}
