.price {
  background-color: $color-green;
  color: $color-white-font;

  padding: 3rem 3rem 3rem 3rem;

  @include media-breakpoint-up(sm) {
    padding: 3rem 3rem 2rem 3rem;
  }

  height: 100%;

  &__title {
    height: 30%;

    @include media-breakpoint-up(sm) {
      height: 20%;
    }
  }

  &__actualprice {
    font-size: 2rem;
    margin: 1rem 0;
    @include media-breakpoint-up(sm) {
      margin: 1.5rem 0;
    }
  }
}

hr {
  border-top: 2px $color-white-font solid;
  margin: 0.5rem 0;
}

.prices-special {
  margin-bottom: 3rem;
  background-color: $color-blue;
  color: $color-white-font;

  a {
    //text-decoration: none;
    text-align: center;
  }

  & > .text-special {
    margin-bottom: 0;
  }
}
