.cta {
  text-align: center;
  margin-bottom: 2rem;

  &__heading {
    font-weight: 600;
    font-size: 1.9rem;
    margin-bottom: 0;
  }

  &__sub {
    letter-spacing: 0.5px;
    font-size: 1.4rem;
  }
}
