#carousel {
  .stars {
    text-align: center;
    height: 50px;
    margin: 2rem 0 3rem 0;
  }

  .heading-primary {
    margin-bottom: 1rem;
  }
}

.reviews {
  height: 100px;
  background-color: $color-green;
  margin-bottom: 3rem;

  .button {
    width: 250px;
    //min-width: 250px;
    max-width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.testimonials {
  position: relative;
  bottom: 0;
  background-color: $color-green;
  color: $color-white-font;
  padding: 4rem 0;
  overflow: hidden;

  &__item {
    height: 22rem;

    @include media-breakpoint-up(sm) {
      height: 15rem;
    }
  }

  &__paragraph {
    margin-bottom: 2rem;
    text-align: justify;
    hyphens: auto;
  }
  &__author {
    color: $color-light-grey;
  }

  &__breadcrump {
    width: 1rem !important;
    height: 1rem !important;
    border-radius: 50%;

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }

  // *****************
  // * Bewaren voor als buttons nog nodig zijn
  // *****************
  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    display: none;

    background-color: transparent;
    border: none;
    opacity: 0.8;
    transition: all 0.2s;
    z-index: 100;

    @include media-breakpoint-up(lg) {
      display: block;
    }

    &,
    &:active,
    &:focus {
      outline: none;
    }

    &:hover {
      transform: translateY(-50%) scale(1.1);
      opacity: 1;
    }

    &:active {
      transform: translateY(-50%) scale(1);
    }

    &--prev {
      left: 5rem;
      border-top: 2.5rem solid transparent;
      border-bottom: 2.5rem solid transparent;
      border-right: 1.5rem solid $color-white-font;
    }

    &--next {
      right: 5rem;
      border-top: 2.5rem solid transparent;
      border-bottom: 2.5rem solid transparent;
      border-left: 1.5rem solid $color-white-font;
    }
  }
}
