.text-bg-image {
  color: $color-blue !important;

  &__container {
    position: relative;
    overflow: hidden;
    padding: 4rem 4rem 0;
    //margin: 50px 0;
  }

  &__image {
    opacity: 0.07;
    position: absolute;
    right: 0px;
    top: -50px;

    & img {
      width: 75vw;
      max-width: 800px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 2.2rem;
    letter-spacing: 1px;
  }

  &__subtitle {
    margin-bottom: 4rem;
  }

  &__text {
    line-height: 1.8;
    margin-bottom: 4rem;
    text-align: justify;
    hyphens: auto;

    & p {
      margin-bottom: 2rem;
    }
  }
}
